<account></account>
<h1>{{mytitle}}</h1>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<table mat-table (getProduct())="(getProduct())"
  class="mat-elevation-z8">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Price</th>
    <th>Stock</th>
  </thead>
  <tbody>
    <ng-container *ngFor="let product of products">
    <tr *ngIf="product.price > 100">
      <td>{{product.id}}</td>
      <td>{{product.title}}</td>
      <td>{{product.price |currency}}</td>
      <td>{{product.stock}}</td>
    </tr>
    </ng-container>
  </tbody>
  <div *ngIf="!showMessagebool">
    <span>Cogent Infotech DHM-65 Btach</span>
  </div>
</table>
<br>
<div class="card">
  <div class="card-header">
    ngSwitch Example
  </div>
  <div class="card-body">
    Input String: <input type="text" [(ngModel)]="num">
    <div [ngSwitch]="num">
      <div *ngSwitchCase="'1'">One</div>
      <div *ngSwitchCase="'2'">Two</div>
      <div *ngSwitchCase="'3'">Three</div>
      <div *ngSwitchCase="'4'">Four</div>
      <div *ngSwitchCase="'5'">Five</div>
      <div *ngSwitchDefault>This is Default</div>
    </div>
  </div>

</div> 

<div class="card">
  <div class="card-header">
    Multiple ngSwitchcase with same condition
  </div>
  <div class="card-body">
    <select [(ngModel)] = "selectedValue1">
      <option *ngFor="let item of items;" [value]="item.name">{{item.name}}</option>
    </select>
    <div [ngSwitch]="selectedValue1">
        <p *ngSwitchCase="'One'">One is selected</p>
        <p *ngSwitchCase="'Two'">Two is selected</p>
        <p *ngSwitchCase="'Three'">Three is selected</p>
        <p *ngSwitchCase="'Four'">Four is selected</p>
        <p *ngSwitchCase="'Five'">Five is selected</p>
        <p *ngSwitchCase="'Five'">Five is selected again</p>
        <p *ngSwitchDefault>This is default</p>
    </div>

  </div>
</div>

<div>
  <select [(ngModel)] = "selectedValue2">
    <option [value]="'1'">Monday</option>
    <option [value]="'2'">Tuesday</option>
    <option [value]="'3'">Wednesday</option>
    <option [value]="'4'">Thursday</option>
    <option [value]="'5'">Friday</option>
    <option [value]="'6'">Saturday</option>
    <option [value]="'7'">Sunday</option>
    <option [value]="'8'">N/A</option>
  </select>
    <div [ngSwitch]="selectedValue2">
      <p *ngSwitchCase="'1'">Monday</p>
      <p *ngSwitchCase="'2'">Tuesday</p>
      <p *ngSwitchCase="'3'">Wednesday</p>
      <p *ngSwitchCase="'4'">Thursday</p>
      <p *ngSwitchCase="'5'">Friday</p>
      <p *ngSwitchCase="'6'">Saturday</p>
      <p *ngSwitchCase="'7'">Sunday</p>
      <p *ngSwitchDefault>No Date Selected</p>
  </div>
</div>

<div>
  {{companyName | uppercase}}
</div>
<div>
  {{productName|uppercase}} <br>
  {{productPrice|currency}}
</div>

<!-- {{data[1].price}} -->
<table mat-table (data)="(data)"
  class="mat-elevation-z8">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Price</th>
    <th>Stock</th>
  </thead>
  <tbody>
    <ng-container *ngFor="let d of data">
    <tr *ngIf="d.price > 100">
      <td>{{d.id}}</td>
      <td>{{d.title}}</td>
      <td>{{d.price |currency}}</td>
      <td>{{d.stock}}</td>
    </tr>
    </ng-container>
  </tbody>
  <div *ngIf="!showMessagebool">
    <span>Cogent Infotech DHM-65 Btach</span>
  </div>
</table>

<ul>
  <ng-container  *ngFor="let post of posts">
  <li>
    {{post.title}}
  </li>
    <ul>
      <li>
        {{post.id}}
      </li>
      <li>
        {{post.title}}
      </li>
      <li>
        {{post.body}}
      </li>
    </ul>
  </ng-container>
</ul>